*{
    box-sizing: border-box; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
} 
body{
    background-color: whitesmoke;
    color: rgb(26,26,26); 
    font-size: 20px;
} 
.food{
    margin: 0 auto;
    display: block;
} 

h1, 
h2{
    color: #DE5900;
} 
